<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="XMLPath" value="C:\Users\ICG-Engineering\Desktop\DATA.xml"/>
		<add key="UseDBInsteadOfXML" value="1"/>
	</appSettings>
</configuration>