################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AdminAPP/bin/Debug
/AdminAPP/obj
